OnlineStore.ModelDTO/Service References/OrderService/OrderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8003/OrderService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8003/OrderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8003/OrderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OnlineStore.Domain.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderService_AddProductToCart_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProductToCart" />
  </wsdl:message>
  <wsdl:message name="IOrderService_AddProductToCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductToCartResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetShoppingCart_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShoppingCart" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetShoppingCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShoppingCartResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderService">
    <wsdl:operation name="AddProductToCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/AddProductToCart" message="tns:IOrderService_AddProductToCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/AddProductToCartResponse" message="tns:IOrderService_AddProductToCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShoppingCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetShoppingCart" message="tns:IOrderService_GetShoppingCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetShoppingCartResponse" message="tns:IOrderService_GetShoppingCart_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrderService" type="tns:IOrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddProductToCart">
      <soap:operation soapAction="http://tempuri.org/IOrderService/AddProductToCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShoppingCart">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetShoppingCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderService">
    <wsdl:port name="BasicHttpBinding_IOrderService" binding="tns:BasicHttpBinding_IOrderService">
      <soap:address location="http://localhost:8003/OrderService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>