OnlineStore.Web/Service References/UserService/UserService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:8003/UserService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:8003/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OnlineStore.ServiceContracts.ModelDTOs" />
      <xsd:import schemaLocation="http://localhost:8003/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8003/UserService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_CreateUsers_InputMessage">
    <wsdl:part name="parameters" element="CreateUsers" />
  </wsdl:message>
  <wsdl:message name="IUserService_CreateUsers_OutputMessage">
    <wsdl:part name="parameters" element="CreateUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_CreateUsers_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/OnlineStore.ServiceContracts.ModelDTOs" name="detail" element="q1:FaultData" />
  </wsdl:message>
  <wsdl:message name="IUserService_ValidateUser_InputMessage">
    <wsdl:part name="parameters" element="ValidateUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_ValidateUser_OutputMessage">
    <wsdl:part name="parameters" element="ValidateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_ValidateUser_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/OnlineStore.ServiceContracts.ModelDTOs" name="detail" element="q2:FaultData" />
  </wsdl:message>
  <wsdl:message name="IUserService_DisableUser_InputMessage">
    <wsdl:part name="parameters" element="DisableUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_DisableUser_OutputMessage">
    <wsdl:part name="parameters" element="DisableUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DisableUser_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/OnlineStore.ServiceContracts.ModelDTOs" name="detail" element="q3:FaultData" />
  </wsdl:message>
  <wsdl:message name="IUserService_EnableUser_InputMessage">
    <wsdl:part name="parameters" element="EnableUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_EnableUser_OutputMessage">
    <wsdl:part name="parameters" element="EnableUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_EnableUser_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/OnlineStore.ServiceContracts.ModelDTOs" name="detail" element="q4:FaultData" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteUsers_InputMessage">
    <wsdl:part name="parameters" element="DeleteUsers" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteUsers_OutputMessage">
    <wsdl:part name="parameters" element="DeleteUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteUsers_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/OnlineStore.ServiceContracts.ModelDTOs" name="detail" element="q5:FaultData" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUsers_InputMessage">
    <wsdl:part name="parameters" element="UpdateUsers" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUsers_OutputMessage">
    <wsdl:part name="parameters" element="UpdateUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUsers_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/OnlineStore.ServiceContracts.ModelDTOs" name="detail" element="q6:FaultData" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserByKey_InputMessage">
    <wsdl:part name="parameters" element="GetUserByKey" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserByKey_OutputMessage">
    <wsdl:part name="parameters" element="GetUserByKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserByKey_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/OnlineStore.ServiceContracts.ModelDTOs" name="detail" element="q7:FaultData" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserByEmail_InputMessage">
    <wsdl:part name="parameters" element="GetUserByEmail" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserByEmail_OutputMessage">
    <wsdl:part name="parameters" element="GetUserByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserByEmail_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/OnlineStore.ServiceContracts.ModelDTOs" name="detail" element="q8:FaultData" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserByName_InputMessage">
    <wsdl:part name="parameters" element="GetUserByName" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserByName_OutputMessage">
    <wsdl:part name="parameters" element="GetUserByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserByName_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/OnlineStore.ServiceContracts.ModelDTOs" name="detail" element="q9:FaultData" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="GetUsers" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsers_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/OnlineStore.ServiceContracts.ModelDTOs" name="detail" element="q10:FaultData" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetRoles_InputMessage">
    <wsdl:part name="parameters" element="GetRoles" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetRoles_OutputMessage">
    <wsdl:part name="parameters" element="GetRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetRoles_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/OnlineStore.ServiceContracts.ModelDTOs" name="detail" element="q11:FaultData" />
  </wsdl:message>
  <wsdl:message name="IUserService_CreateRoles_InputMessage">
    <wsdl:part name="parameters" element="CreateRoles" />
  </wsdl:message>
  <wsdl:message name="IUserService_CreateRoles_OutputMessage">
    <wsdl:part name="parameters" element="CreateRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_CreateRoles_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/OnlineStore.ServiceContracts.ModelDTOs" name="detail" element="q12:FaultData" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateRoles_InputMessage">
    <wsdl:part name="parameters" element="UpdateRoles" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateRoles_OutputMessage">
    <wsdl:part name="parameters" element="UpdateRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateRoles_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/OnlineStore.ServiceContracts.ModelDTOs" name="detail" element="q13:FaultData" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteRoles_InputMessage">
    <wsdl:part name="parameters" element="DeleteRoles" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteRoles_OutputMessage">
    <wsdl:part name="parameters" element="DeleteRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteRoles_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/OnlineStore.ServiceContracts.ModelDTOs" name="detail" element="q14:FaultData" />
  </wsdl:message>
  <wsdl:message name="IUserService_AssignRole_InputMessage">
    <wsdl:part name="parameters" element="AssignRole" />
  </wsdl:message>
  <wsdl:message name="IUserService_AssignRole_OutputMessage">
    <wsdl:part name="parameters" element="AssignRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_AssignRole_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/OnlineStore.ServiceContracts.ModelDTOs" name="detail" element="q15:FaultData" />
  </wsdl:message>
  <wsdl:message name="IUserService_UnassignRole_InputMessage">
    <wsdl:part name="parameters" element="UnassignRole" />
  </wsdl:message>
  <wsdl:message name="IUserService_UnassignRole_OutputMessage">
    <wsdl:part name="parameters" element="UnassignRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UnassignRole_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/OnlineStore.ServiceContracts.ModelDTOs" name="detail" element="q16:FaultData" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetRoleByUserName_InputMessage">
    <wsdl:part name="parameters" element="GetRoleByUserName" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetRoleByUserName_OutputMessage">
    <wsdl:part name="parameters" element="GetRoleByUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetRoleByUserName_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q17="http://schemas.datacontract.org/2004/07/OnlineStore.ServiceContracts.ModelDTOs" name="detail" element="q17:FaultData" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetOrdersForUser_InputMessage">
    <wsdl:part name="parameters" element="GetOrdersForUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetOrdersForUser_OutputMessage">
    <wsdl:part name="parameters" element="GetOrdersForUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetOrdersForUser_FaultDataFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.datacontract.org/2004/07/OnlineStore.ServiceContracts.ModelDTOs" name="detail" element="q18:FaultData" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="CreateUsers">
      <wsdl:input wsaw:Action="urn:IUserService/CreateUsers" message="IUserService_CreateUsers_InputMessage" />
      <wsdl:output wsaw:Action="urn:IUserService/CreateUsersResponse" message="IUserService_CreateUsers_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:IUserService/CreateUsersFaultDataFault" name="FaultDataFault" message="IUserService_CreateUsers_FaultDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <wsdl:input wsaw:Action="urn:IUserService/ValidateUser" message="IUserService_ValidateUser_InputMessage" />
      <wsdl:output wsaw:Action="urn:IUserService/ValidateUserResponse" message="IUserService_ValidateUser_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:IUserService/ValidateUserFaultDataFault" name="FaultDataFault" message="IUserService_ValidateUser_FaultDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisableUser">
      <wsdl:input wsaw:Action="urn:IUserService/DisableUser" message="IUserService_DisableUser_InputMessage" />
      <wsdl:output wsaw:Action="urn:IUserService/DisableUserResponse" message="IUserService_DisableUser_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:IUserService/DisableUserFaultDataFault" name="FaultDataFault" message="IUserService_DisableUser_FaultDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnableUser">
      <wsdl:input wsaw:Action="urn:IUserService/EnableUser" message="IUserService_EnableUser_InputMessage" />
      <wsdl:output wsaw:Action="urn:IUserService/EnableUserResponse" message="IUserService_EnableUser_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:IUserService/EnableUserFaultDataFault" name="FaultDataFault" message="IUserService_EnableUser_FaultDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUsers">
      <wsdl:input wsaw:Action="urn:IUserService/DeleteUsers" message="IUserService_DeleteUsers_InputMessage" />
      <wsdl:output wsaw:Action="urn:IUserService/DeleteUsersResponse" message="IUserService_DeleteUsers_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:IUserService/DeleteUsersFaultDataFault" name="FaultDataFault" message="IUserService_DeleteUsers_FaultDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUsers">
      <wsdl:input wsaw:Action="urn:IUserService/UpdateUsers" message="IUserService_UpdateUsers_InputMessage" />
      <wsdl:output wsaw:Action="urn:IUserService/UpdateUsersResponse" message="IUserService_UpdateUsers_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:IUserService/UpdateUsersFaultDataFault" name="FaultDataFault" message="IUserService_UpdateUsers_FaultDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByKey">
      <wsdl:input wsaw:Action="urn:IUserService/GetUserByKey" message="IUserService_GetUserByKey_InputMessage" />
      <wsdl:output wsaw:Action="urn:IUserService/GetUserByKeyResponse" message="IUserService_GetUserByKey_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:IUserService/GetUserByKeyFaultDataFault" name="FaultDataFault" message="IUserService_GetUserByKey_FaultDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByEmail">
      <wsdl:input wsaw:Action="urn:IUserService/GetUserByEmail" message="IUserService_GetUserByEmail_InputMessage" />
      <wsdl:output wsaw:Action="urn:IUserService/GetUserByEmailResponse" message="IUserService_GetUserByEmail_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:IUserService/GetUserByEmailFaultDataFault" name="FaultDataFault" message="IUserService_GetUserByEmail_FaultDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByName">
      <wsdl:input wsaw:Action="urn:IUserService/GetUserByName" message="IUserService_GetUserByName_InputMessage" />
      <wsdl:output wsaw:Action="urn:IUserService/GetUserByNameResponse" message="IUserService_GetUserByName_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:IUserService/GetUserByNameFaultDataFault" name="FaultDataFault" message="IUserService_GetUserByName_FaultDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="urn:IUserService/GetUsers" message="IUserService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="urn:IUserService/GetUsersResponse" message="IUserService_GetUsers_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:IUserService/GetUsersFaultDataFault" name="FaultDataFault" message="IUserService_GetUsers_FaultDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <wsdl:input wsaw:Action="urn:IUserService/GetRoles" message="IUserService_GetRoles_InputMessage" />
      <wsdl:output wsaw:Action="urn:IUserService/GetRolesResponse" message="IUserService_GetRoles_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:IUserService/GetRolesFaultDataFault" name="FaultDataFault" message="IUserService_GetRoles_FaultDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateRoles">
      <wsdl:input wsaw:Action="urn:IUserService/CreateRoles" message="IUserService_CreateRoles_InputMessage" />
      <wsdl:output wsaw:Action="urn:IUserService/CreateRolesResponse" message="IUserService_CreateRoles_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:IUserService/CreateRolesFaultDataFault" name="FaultDataFault" message="IUserService_CreateRoles_FaultDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRoles">
      <wsdl:input wsaw:Action="urn:IUserService/UpdateRoles" message="IUserService_UpdateRoles_InputMessage" />
      <wsdl:output wsaw:Action="urn:IUserService/UpdateRolesResponse" message="IUserService_UpdateRoles_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:IUserService/UpdateRolesFaultDataFault" name="FaultDataFault" message="IUserService_UpdateRoles_FaultDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRoles">
      <wsdl:input wsaw:Action="urn:IUserService/DeleteRoles" message="IUserService_DeleteRoles_InputMessage" />
      <wsdl:output wsaw:Action="urn:IUserService/DeleteRolesResponse" message="IUserService_DeleteRoles_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:IUserService/DeleteRolesFaultDataFault" name="FaultDataFault" message="IUserService_DeleteRoles_FaultDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AssignRole">
      <wsdl:input wsaw:Action="urn:IUserService/AssignRole" message="IUserService_AssignRole_InputMessage" />
      <wsdl:output wsaw:Action="urn:IUserService/AssignRoleResponse" message="IUserService_AssignRole_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:IUserService/AssignRoleFaultDataFault" name="FaultDataFault" message="IUserService_AssignRole_FaultDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnassignRole">
      <wsdl:input wsaw:Action="urn:IUserService/UnassignRole" message="IUserService_UnassignRole_InputMessage" />
      <wsdl:output wsaw:Action="urn:IUserService/UnassignRoleResponse" message="IUserService_UnassignRole_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:IUserService/UnassignRoleFaultDataFault" name="FaultDataFault" message="IUserService_UnassignRole_FaultDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoleByUserName">
      <wsdl:input wsaw:Action="urn:IUserService/GetRoleByUserName" message="IUserService_GetRoleByUserName_InputMessage" />
      <wsdl:output wsaw:Action="urn:IUserService/GetRoleByUserNameResponse" message="IUserService_GetRoleByUserName_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:IUserService/GetRoleByUserNameFaultDataFault" name="FaultDataFault" message="IUserService_GetRoleByUserName_FaultDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrdersForUser">
      <wsdl:input wsaw:Action="urn:IUserService/GetOrdersForUser" message="IUserService_GetOrdersForUser_InputMessage" />
      <wsdl:output wsaw:Action="urn:IUserService/GetOrdersForUserResponse" message="IUserService_GetOrdersForUser_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:IUserService/GetOrdersForUserFaultDataFault" name="FaultDataFault" message="IUserService_GetOrdersForUser_FaultDataFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>