OnlineStore.Web/Service References/ProductService/ProductService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/OnlineStore.ServiceContracts.ModelDTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OnlineStore.ServiceContracts.ModelDTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8003/ProductService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfProductDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDto" nillable="true" type="tns:ProductDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDto" nillable="true" type="tns:ArrayOfProductDto" />
  <xs:complexType name="ProductDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:CategoryDto" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsNew" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitPrice" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDto" nillable="true" type="tns:ProductDto" />
  <xs:complexType name="CategoryDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryDto" nillable="true" type="tns:CategoryDto" />
  <xs:complexType name="FaultData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultData" nillable="true" type="tns:FaultData" />
  <xs:complexType name="ArrayOfCategoryDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryDto" nillable="true" type="tns:CategoryDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryDto" nillable="true" type="tns:ArrayOfCategoryDto" />
  <xs:complexType name="ProductCategorizationDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="ser:guid" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductCategorizationDto" nillable="true" type="tns:ProductCategorizationDto" />
  <xs:complexType name="Pagination">
    <xs:sequence>
      <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPages" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pagination" nillable="true" type="tns:Pagination" />
  <xs:complexType name="ProductDtoWithPagination">
    <xs:sequence>
      <xs:element minOccurs="0" name="Pagination" nillable="true" type="tns:Pagination" />
      <xs:element minOccurs="0" name="ProductDtos" nillable="true" type="tns:ArrayOfProductDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDtoWithPagination" nillable="true" type="tns:ProductDtoWithPagination" />
</xs:schema>